

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    margin: 120px;
    color: goldenrod;
}

#message-el {
    font-style:italic;
    font-size: 20px;
}